<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv("Tdata.csv")
data

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0
5          T6      0       0       1     1    1     0

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [4]:
new_data = data.drop(columns="Transaction")
new_data.head()

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0

### Step 3: Count Single Items
See how many transactions include each item.

In [5]:
new_data.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [ ]:
from itertools import combinations  

def find_frequent_itemset(df, min_support):
    n = len(df)
    result = []

    for k in [1,2,3]:
        for items in combinations(df.columns, k):
            mask = df[list(items)].all(axis=1)

            support = mask.sum()/n
            if support >= min_support:
                result.append((frozenset(items), round(support,2)))
    return result

In [22]:
frequent_itemset = find_frequent_itemset(new_data, min_support=0.5)

('bread',) 5
('butter',) 3
('coffee',) 2
('eggs',) 2
('jam',) 2
('milk',) 3
('bread', 'butter') 3
('bread', 'coffee') 1
('bread', 'eggs') 1
('bread', 'jam') 1
('bread', 'milk') 3
('butter', 'coffee') 0
('butter', 'eggs') 0
('butter', 'jam') 1
('butter', 'milk') 2
('coffee', 'eggs') 1
('coffee', 'jam') 1
('coffee', 'milk') 0
('eggs', 'jam') 1
('eggs', 'milk') 1
('jam', 'milk') 0
('bread', 'butter', 'coffee') 0
('bread', 'butter', 'eggs') 0
('bread', 'butter', 'jam') 1
('bread', 'butter', 'milk') 2
('bread', 'coffee', 'eggs') 0
('bread', 'coffee', 'jam') 0
('bread', 'coffee', 'milk') 0
('bread', 'eggs', 'jam') 0
('bread', 'eggs', 'milk') 1
('bread', 'jam', 'milk') 0
('butter', 'coffee', 'eggs') 0
('butter', 'coffee', 'jam') 0
('butter', 'coffee', 'milk') 0
('butter', 'eggs', 'jam') 0
('butter', 'eggs', 'milk') 0
('butter', 'jam', 'milk') 0
('coffee', 'eggs', 'jam') 1
('coffee', 'eggs', 'milk') 0
('coffee', 'jam', 'milk') 0
('eggs', 'jam', 'milk') 0

In [23]:
for itemset, support in frequent_itemset:
    print(f"{set(itemset)} -> support: {support}")

{'bread'} -> support: 0.83
{'butter'} -> support: 0.5
{'milk'} -> support: 0.5
{'bread', 'butter'} -> support: 0.5
{'milk', 'bread'} -> support: 0.5

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [24]:
find_frequent_itemset(new_data, 0.6)

('bread',) 5
('butter',) 3
('coffee',) 2
('eggs',) 2
('jam',) 2
('milk',) 3
('bread', 'butter') 3
('bread', 'coffee') 1
('bread', 'eggs') 1
('bread', 'jam') 1
('bread', 'milk') 3
('butter', 'coffee') 0
('butter', 'eggs') 0
('butter', 'jam') 1
('butter', 'milk') 2
('coffee', 'eggs') 1
('coffee', 'jam') 1
('coffee', 'milk') 0
('eggs', 'jam') 1
('eggs', 'milk') 1
('jam', 'milk') 0
('bread', 'butter', 'coffee') 0
('bread', 'butter', 'eggs') 0
('bread', 'butter', 'jam') 1
('bread', 'butter', 'milk') 2
('bread', 'coffee', 'eggs') 0
('bread', 'coffee', 'jam') 0
('bread', 'coffee', 'milk') 0
('bread', 'eggs', 'jam') 0
('bread', 'eggs', 'milk') 1
('bread', 'jam', 'milk') 0
('butter', 'coffee', 'eggs') 0
('butter', 'coffee', 'jam') 0
('butter', 'coffee', 'milk') 0
('butter', 'eggs', 'jam') 0
('butter', 'eggs', 'milk') 0
('butter', 'jam', 'milk') 0
('coffee', 'eggs', 'jam') 1
('coffee', 'eggs', 'milk') 0
('coffee', 'jam', 'milk') 0
('eggs', 'jam', 'milk') 0

[(frozenset({'bread'}), 0.83)]

{'bread'} â†’ support: 0.83

### Step 6 Display as a DataFrame

In [ ]:
result_df = pd.DataFrame()

   Itemset  Support
0  (bread)     0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools